/* 
  Author: Vienna Ly
  c 2019
*/

:root {
  --contractility: 4;
    --menuW: 20%; 
    --descriptionboxBG: rgba(250,250,250,1);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	background-color: #e9efec;
	font-family: "Helvetica", "Helvetica Newe", Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #575757;
	overflow: hidden;
	min-height: 500px;
	min-width: 550px;
}
#archie-activity-container:after{
	content:"© BCIT";
	position: fixed;
	bottom: 0;
	left: 10px;
}
/* headings */
h1{
	text-transform: capitalize;
	line-height: 1.5em;
	font-size: 1.2em;
	
}
h2, .h2{
	font-size: 1.1em;
	padding: 0.5em 0.5em 0;
	font-weight: bold;
	color: #128fb3;
	text-align: right;
}
#archie-activity-container {
	height: 550px;
}
iframe#svg_frame{
	border: none;
	width: 100%;
	height: 100%;
}
table{
	border-spacing: 20px 10px;
}

#descriptionbox{
	display: box;
	min-width: 250px;
	position: absolute;
	right: var(--menuW);
	top: 0;
	background-color: var(--descriptionboxBG);
	padding:1em;
	width: 35%;
	transition: transform 1s ease-in-out;
}

#menu{
	position:absolute;
	right: 0;
	top:0;
	z-index: 100;
	max-height: 100vh;
	width: auto;
	overflow-y: auto;
	overflow-x: hidden;
	min-width: var(--menuW);
	background-color: #fff;
	max-width: 15%;
}
.menu{
	margin: 0 0 1em 0;
	display: flex;
	flex-direction:column;
}
.menu button{
	flex: 1;
	font-size: 0.9em;
	padding:.3em;
	text-align: left;
	text-transform: capitalize;
}
.ui-options button:first-child{
	font-size: 1.2em;
	font-weight: bold;
	border-radius: 0;
	background: white;
}
.ui-options button:focus,
.ui-options button:active,
.ui-options button.selected{
	background-color: #a4ebff;
}
.ui-options button.selected:after{
	content:"\f006";
	font-size:12px;
	color: #123b46;
	font-family: fontawesome;
	display:block;
	font-weight:normal;
	float:right;
}
.ui-options input{
	width: 100%;
}

/* how hide btns */
.closed{
	transform: translateY(-100%);
}
.showhideBtn{
	position: absolute;
	font-family: fontawesome;
	right: 0;
	top: 0;
	height:2em;
	display: block;
	background-color: var(--descriptionboxBG);
	padding: 0.4em .8em;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor:pointer;
}
.closed .showhideBtn{
	position: absolute;
	right: 0;
	top: 100%;
}
.showhideBtn::before{
	content: "\f00d";
}
.closed .showhideBtn::before{
	content: "\f0c9";
}

/* UI Monitor */
table#monitor {
  background-color: #000;
	color: #fff;
  border-spacing: 20px 1.5vh;	
	width:100%;
	margin: 1em auto;
  margin: 1em auto;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
button, input:not(:disabled){
	cursor: pointer;
}

input{
	--disabledColor: #aaa;
	--enabledColor: #a4ebff;
}
input[type=range]{
	width:100%;
}
input[type=range]:not(:disabled){
	-webkit-appearance: none; /* WebKit */
  	-moz-appearance: none; /* Mozilla */
  	appearance: none; /* CSS3 */
}
input[type=range]:not(:disabled){
	background: var(--enabledColor);
}
input[type=range]:not(:disabled){
	background: var(--enabledColor);
}
input[type="range"]:not(:disabled){
	-webkit-appearance: none; /* WebKit */
  	-moz-appearance: none; /* Mozilla */
  	appearance: none; /* CSS3 */
	background: var(--enabledColor);
}


/* UI SVG Controls */ 
#ui-controls{
	background-color: rgba(255,255,255,0.7);
	width:18%;
  	min-width: 150px;
	z-index: 10;
	position: relative;
}
#ui-controls h2{
	color: inherit;
}
.ui-option,
._caseOptionBtn{
	display: block;
	font-size: 1em;
	/*! max-width: 100%; */
	padding: 0.5em;
	margin: 1px;
	overflow: hidden;
	/*! min-width: 100px; */
	/*! vertical-align: middle; */
	background-color: rgba(0,0,0,.05);
	border-radius: 0.3em;
}
.ui-option label{
	padding-right: 1em;
	width:100px;
	display: block;
	font-size: 0.85em;
}

.rtl{
    /* right to left direction*/
    direction: rtl;
}

/* toggle switch */
label {
    --sliderSize: 20px;
    --sliderH: calc( var(--sliderSize) + 8px ); 
    --sliderW: calc( var(--sliderH) * 2 - 8px);
    
}
.switch {
    position: relative;
    display: inline-block;
    height: var(--sliderH);
    width: var(--sliderW);
    z-index: 999;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--sliderSize);
  width: var(--sliderSize);
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #a4ebff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(var(--sliderSize));
  -ms-transform: translateX(var(--sliderSize));
  transform: translateX(var(--sliderSize));
}
/* SVG styles */
#svg_container{
    z-index: 0;
    /*! outline: 1px solid #ddd; */
    position: absolute;
    left: 0px;
    width: 50%;
    height: 100%;
    top: 0;
}

.img {
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.dot{
   fill:rgba(20,0,0,.5); 
}
.bg1{fill:#929899;}
.brain{fill:#aa7979;}
.st0{fill:#000DF9;}
.st1{fill:#FF0000;}
.cls-1,.cls-2,.cls-3, .path{fill:none;stroke-miterlimit:10;stroke-width:2px;}
.cls-1{stroke:#394484;}
.cls-2{stroke:#d8721e;}
.cls-3{stroke:#ad0e0e;}
.bg_organs,
.brain,
.kidney,
.lung{fill:#eee;}
.lungfill{fill:#99dcee;}
.heart{
    fill:#6d0000;
    animation-name: heartbeat;
  	animation-duration: 1s;
  	animation-iteration-count: infinite;    
}

.fadeout{
	animation-name: fadeout;
  	animation-duration: 1s;
  	animation-iteration-count: 1;
}

@keyframes heartbeat {
  from {fill: #f00; stroke: #f00; stroke-width:10}
  to {fill: #661111; stroke: #611; stroke-width: var(--contractility)}
}

@keyframes fadeout {
  from {alpha: 1;}
  to {alpha: 0;}
}